<h1>Liste de Pokémons</h1> 

<input
    #input
    (keyup.enter)="selectPokemon(input.value)"
    type="number"
/>

<p *ngIf="pokemonSelected">
    Vous avez selectionné le pokemon: {{ pokemonSelected.name }}
</p>

<p *ngIf="!pokemonSelected">
    Aucun pokémon selectionné
</p>

<div class="container">
<div class="row">
    <div *ngFor="let pokemon of pokemons" class="col m4 s6">
        <div class="card horizontal">
            <div class="card-image">
                <img [src]="pokemon.picture" />
            </div>
            <div class="card-stacked">
                <div class="card-content">
                    <p>{{ pokemon.name }}</p>
                    <p><small>{{ pokemon.created }}</small></p>
                </div>
            </div>
        </div>     
    </div>
</div>

</div>
